@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: "Sora", sans-serif;
}

.hero{
    background-image: url(assets/bg1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.title-center{
    max-width: 500px;
    opacity: 0;
    transform: scale(0.8);
}

.title-center h1{
    font-size: 12rem;
    text-align: center;
    font-weight: 900;
    line-height: 0.8;
}

.nav-left{
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    padding-left: 50px;
}

.nav-left a{
    font-weight: 600;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    color: white;
    opacity: 0; 
    transform: translateX(-50px);
}

.nav-left a:hover {
    opacity: 0.5;
}

.phrase-right{
    margin-right: 10rem;
    opacity: 0;
    transform: translateX(50px);
}
.phrase{
    text-align: center;
    line-height: 1;
    font-size: 2rem;
    font-weight: 600;

}
.BR{
    display: inline;
}

/* ---------- */
/* section 2 */
.gallery-one{
    display: grid;
    grid-template-columns: 0.6fr 1fr 1fr;    grid-template-rows: auto;
    gap: 10px;
    padding: 2rem;
}
.imgs{
    position: relative;
    justify-content: center;
    align-items: center;
}
.img{
    position: absolute;
}

.gallery-text{
    font-size: 5rem;
    font-weight: 900;
    text-align: center;
    margin-top: 13rem;
    position: relative;
    grid-column: span 1;

}



@media only screen and (max-width: 1190px){
    .hero{
        flex-direction: column;
    }

    .nav-left{
        flex-direction: row;
        gap: 40px;
        order: 3; 
        padding-bottom: 20rem;
        margin: 0 2rem;
    }
    
    .nav-left a{
        font-size: 1.4rem;
    }

    .title-center{
        order: 2;
    }

    .title-center h1{
        font-size: 8rem;

    }

    .phrase-right{
        margin: 0 3rem;
        padding-top: 20rem;
        order: 1;
    }
    
    .phrase{
        font-size: 1rem;
    }

    .BR{
        display: none;
    }
}

@media only screen and (max-width: 480px){
    .nav-left{
        order: 3; 
    }
    
    .nav-left a{
        font-size: 1rem;
    }

    .title-center{
        order: 2;
    }

    .title-center h1{
        font-size: 6rem;

    }

    .phrase-right{
        margin: 0 4rem;
        order: 1;
    }
    
    .phrase{
        font-size: 1rem;
        font-weight: 500;
    }

    .BR{
        display: none;
    }
}